body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  color: #ffffff;
  background-color: #1890ff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #1890ff
}

.logo{
  font-size: 30px;
  font-weight: 800;
  flex: 1;
  text-align: right;
  margin-right: 50px;
}

.main {
  display: flex;
}

.form,
.history {
  flex: 1;
  padding: 20px;
}

#config h2 {
  margin-top: 40px;
}
.history-item {
  padding: 5px;
  font-size: 15px;
  border-bottom: 1px solid #dbdbdb;
}
.history-item:nth-child(even) {
  background-color: #fbfbfb;
}

.history-item,
.enroll-status {
  display: flex;
  align-items: center;
}

.history-item .icon,
.enroll-status .icon {
  flex: 1;
  margin-right: 5px;
  font-size: 20px;
}

.history-item h3,
.enroll-status h4 {
  flex: 10;
}




